In [33]:
import pandas as pd
import glob
import numpy as np
from decimal import *

path = "C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001"
  
filenames = glob.glob(path + "\*.csv")
print('File names:', filenames)
  
df = pd.DataFrame()

for file in filenames:
  
    temp = pd.read_csv(file, sep =';', decimal = '.', na_filter=False, low_memory = False)
    df = pd.concat([df, temp], ignore_index=True, sort=False)
  

df.drop('Unnamed: 0', axis=1, inplace=True)    

df.to_csv(r'C:\\Users\\AROLMCAC\\Desktop\\file2.csv', header=False, index=False)
#with pd.ExcelWriter(r'C:\\Users\\AROLMCAC\\Desktop\\File.xlsx') as writer:
    #df.to_excel(writer, sheet_name='Final',index = False)

df.head()

File names: ['C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001\\BELEG_2020_2022.11.14.csv', 'C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001\\DEBI_2020_2022.11.14.csv', 'C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001\\EINKBELEG_2020_2022.11.14.csv', 'C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001\\FAKTBELEG_2020_2022.11.14.csv', 'C:\\Users\\AROLMCAC\\Downloads\\drive-download-20221115T160904Z-001\\KRED_2020_2022.11.14.csv']

,OBJECTCLAS,OBJECTID,CHANGENR,USERNAME,UDATE,UTIME,TCODE,PLANCHNGNR,ACT_CHNGNO,WAS_PLANND,CHANGE_IND,LANGU,VERSION
0,BELEG,690110000009000002020,4384209,Z134845,28.04.2020,14:28:00,FBL3N,,,,U,L,0
1,BELEG,690110000009000002020,4384219,Z134845,28.04.2020,14:29:39,FBL3N,,,,U,L,0
2,BELEG,690110000009000002020,4384225,Z134845,28.04.2020,14:31:13,FBL3N,,,,U,L,0
3,BELEG,690110000009000002020,4384230,Z134845,28.04.2020,14:33:09,FBL3N,,,,U,L,0
4,BELEG,690110000009000002020,4384256,Z134845,28.04.2020,14:40:34,FBL3N,,,,U,L,0